@using Microsoft.AspNetCore.Identity
@inject UserManager<Forum.Models.ApplicationUser> UserManager
@inject SignInManager<Forum.Models.ApplicationUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Форум з програмування</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Forum.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark main-nav">
            <div class="container justify-content-center">
                <div class="navbar-header">
                    <a class="navbar-brand navbarLogo" asp-controller="Home" asp-action="Index"></a>
                </div>
                &nbsp;
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Forums" asp-action="Index">Форуми</a>
                    </li>
                </ul>
                &nbsp;
                &nbsp;
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle dropDownMainPage" type="button" id="dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Налаштування
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown">
                            <li class="dropdown-divider"></li>
                            <li class="dropdown-header">Профіль</li>
                            <li><a class="dropdown-item" asp-controller="Profile" asp-action="Detail" asp-route-id="@UserManager.GetUserId(User)">Мій профіль</a></li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="dropdown-divider"></li>
                                <li class="dropdown-header">Панель адміністратора</li>
                                <li><a class="dropdown-item" asp-controller="Forums" asp-action="Create">Створити форум</a></li>
                                <li><a class="dropdown-item" asp-controller="Profile" asp-action="Index">Користувачі</a></li>
                            }
                        </ul>
                    </div>
                }

                @if (!SignInManager.IsSignedIn(User))
                {
                    <ul class="nav navbar-nav flex-fill w-100 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Увійти</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Регістрація</a>
                        </li>
                    </ul>
                }
                @if (SignInManager.IsSignedIn(User))
                {
                    <ul class="nav navbar-nav flex-fill w-100 justify-content-end">
                        <li class="nav-item" style="margin-top:1.7%">
                            <a class="nav-link" style="float: left;padding: 0px 0px !important;">
                                Вітаємо, &nbsp; <a class="dropDownMainPage" asp-controller="Profile" asp-action="Detail" asp-route-id="@UserManager.GetUserId(User)">@UserManager.GetUserName(User)</a>
                            </a>
                        </li>
                        <li class="nav-item">
                            <form class="nav-link" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                                <button type="submit" class=" btn nav-link">Вийти</button>
                            </form>
                        </li>
                    </ul>
                }

            </div>
        </nav>
    </header>



    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
