@model Forum.Models.Reply.PostReplyModel


<div class="container body-content">
    <div class="row sectionHeader">
        <div class="sectionHeading">
            Відповідь | @Model.PostTitle
            <div class="forumLogo" style="background-image: url(@Model.ForumImageUrl)"></div>
            <span id="headingBtn">
                <a asp-controller="Post" asp-action="Index" asp-route-id="@Model.PostId" class="btn btn-back">Повернутися</a>
            </span>
        </div>

    </div>

    <div class="row">
        <div id="originalPost">
            <h3>
                @Model.PostTitle
            </h3>
            <p>
                @Model.PostContent
            </p>
        </div>
    </div>
    <div class="row">
        <div class="createPostSection">
            <div class="authorBlock">
                Ви відповідаєте як <b>@Model.AuthorName</b>
            </div>
            <form asp-action="AddReply" method="post" id="addPostFrom">
                <div asp-validation-summary="All" class="text-danger"> </div>
                <div class="form-group">
                    <label asp-for="ReplyContent">Відповідь: </label>
                    <textarea asp-for="ReplyContent" rows="20" class="form-control" placeholder="Ваша відповідь..."></textarea>
                    <span asp-validation-for="ReplyContent" class="text-danger"></span>
                </div>
                <br />
                <button type="submit" id="submitReplyBtn" class="btn btn-submitPost">Відповісти</button>
                <input asp-for="AuthorId" type="hidden" />
                <input asp-for="ForumId" type="hidden" />
                <input asp-for="PostId" type="hidden" />
            </form>
        </div>
    </div>
</div>

