@model Forum.Models.Posts.PostIndexModel


<h3>@Model.Title</h3>

<table class="table table-hover" id="forumIndexTable">
    <tbody>
        <tr>
            <td>
                @Model.AuthorName
                <br />
                Рейтинг: @Model.AuthorRating
            </td>
            <td>
                @Model.PostContent
            </td>
        </tr>

        @foreach (var reply in @Model.Replies)
        {
            <tr>
                <td>
                    @reply.AuthorName
                    <br />
                    Рейтинг: @reply.AuthorRating
                </td>
                <td>
                    @reply.ReplayContent
                </td>
            </tr>
        }
    </tbody>
</table>