@model Forum.Models.ForumTopicModel

<h1>Ласкаво просимо на форум присвячений язику програмування @Model.Forum.Name </h1>

<span id="headingButton">
    <a asp-controller="Post" asp-action="CreatePost" asp-route-id="@Model.Forum.Id" class="btn btn-newPost">Додати повідомлення</a>
</span>

@if (Model.Posts.Any())
{
    <table class="table table-bordered table-hover">
        <tbody>
            @foreach (var post in Model.Posts)
            {
                <tr>
                    <td>
                        <a asp-controller="Post" asp-action="Index" asp-route-id="@post.Id">
                            @post.Title
                        </a>
                    </td>
                    <td>
                        @post.Author
                    </td>
                    <td>
                        @post.DatePosted
                    </td>
                    <td>
                        @post.RepliesCount
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="noPosts">
        <h3>
            Схоже, в цій темі @Model.Forum.Name  ще нема відповідей.
            <br />
            Ви можете
            <a asp-controller="Post" asp-action="CreatePost" asp-route-id="@Model.Forum.Id">
                <span>почати діскусію саме зараз!</span>
            </a>
        </h3>
    </div>

}